.Reg-btn {
    background-color: #3FA2F6; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get it to display inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 50px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    height: 50px;
  }


    
    .Reg-btn:hover {
        background-color: #0F67B1; /* Darker green on hover */
      }

.L-MA{
      
    
    background: url("https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* margin-top: -190px; */
    background-position: center;
    background-repeat: no-repeat; 
    
}

@media screen and (max-width: 786px){


    
}